
.statistics-box {
    padding: 1.2rem 0;
    width: 100;
}
.statistics-box__icon {
    font-size: 2.2rem;
    color: var(--primary-color);
}
.statistics-box__count {
    font-weight: 600;
    font-size: 2rem;
    color: var(--dark-color);
    margin-right: 1.2rem;
}
.statistics-box__caption {
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--secoundary-dark-color);
}